
@{
    ViewBag.Title = "Pais guardado";
}

<h2>El pais se ha guardado correctamente</h2>
<br />
<a href="/Pais/ObtenerPaises" class="btn btn-primary btn-lg">Ver lista de paises &raquo;</a>


