
@{
    ViewBag.Title = "Genero guardado";
}

<h2>El genero se ha guardado correctamente</h2>
<br />
<a href="/Genero/ObtenerGeneros" class="btn btn-primary btn-lg">Ver lista de generos &raquo;</a>
